---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?limit=40&location=Denver,%20CO&radius=16100&sort_by=distance&term=locally%20owned%20Potager
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer qJbWMO0dR5e1R2Ct-5hhhGqu1zFIWijMFZNdbEMyltQLfH79viaTuTi_NT80xYMNyfAEJkjobK889xM9F0lYQUie7kOW-g6qN1awpPj_v8xacW-ZA4PlFEhP4rOPY3Yx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Routing-Service:
      - routing-main--uswest2-69cb4c47f7-kslj2; site=public_api_v3
      Ratelimit-Resettime:
      - '2022-12-13T00:00:00+00:00'
      X-Zipkin-Id:
      - 528dac0e10d7a2d2
      Ratelimit-Remaining:
      - '4244'
      Ratelimit-Dailylimit:
      - '5000'
      X-Cloudmap:
      - routing_uswest2
      X-Mode:
      - ro
      X-Proxied:
      - 10-69-99-143-uswest2aprod
      X-Extlb:
      - 10-69-99-143-uswest2aprod
    body:
      encoding: UTF-8
      string: '{"businesses": [{"id": "T0oDpWqZWOjli02HuIO3DQ", "alias": "potager-denver",
        "name": "Potager", "image_url": "https://s3-media4.fl.yelpcdn.com/bphoto/hsNzVSuRj2OHZQyL4PAtiA/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/potager-denver?adjust_creative=TWv4BIcu6CZ_3-f_0lItOQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=TWv4BIcu6CZ_3-f_0lItOQ",
        "review_count": 406, "categories": [{"alias": "newamerican", "title": "American
        (New)"}], "rating": 4.0, "coordinates": {"latitude": 39.73396, "longitude":
        -104.97542}, "transactions": ["delivery"], "price": "$$$", "location": {"address1":
        "1109 Ogden St", "address2": "", "address3": "", "city": "Denver", "zip_code":
        "80218", "country": "US", "state": "CO", "display_address": ["1109 Ogden St",
        "Denver, CO 80218"]}, "phone": "+13038325788", "display_phone": "(303) 832-5788",
        "distance": 482.56686748177924}, {"id": "A9S4iGkRVNLWY8BSkRpDEA", "alias":
        "fruition-restaurant-denver", "name": "Fruition Restaurant", "image_url":
        "https://s3-media2.fl.yelpcdn.com/bphoto/otEVGuAtz5EiA-_jSdFqfQ/o.jpg", "is_closed":
        false, "url": "https://www.yelp.com/biz/fruition-restaurant-denver?adjust_creative=TWv4BIcu6CZ_3-f_0lItOQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=TWv4BIcu6CZ_3-f_0lItOQ",
        "review_count": 905, "categories": [{"alias"[...]
