---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?limit=40&location=Denver,%20CO&radius=16100&sort_by=distance&term=locally%20owned%20The%20Capital%20Grille
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer qJbWMO0dR5e1R2Ct-5hhhGqu1zFIWijMFZNdbEMyltQLfH79viaTuTi_NT80xYMNyfAEJkjobK889xM9F0lYQUie7kOW-g6qN1awpPj_v8xacW-ZA4PlFEhP4rOPY3Yx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Remaining:
      - '4243'
      X-Routing-Service:
      - routing-main--uswest2-69cb4c47f7-5ktxz; site=public_api_v3
      X-Zipkin-Id:
      - a61a4f9c74c038c2
      Ratelimit-Resettime:
      - '2022-12-13T00:00:00+00:00'
      Ratelimit-Dailylimit:
      - '5000'
      X-Cloudmap:
      - routing_uswest2
      X-Mode:
      - ro
      X-Proxied:
      - 10-69-131-202-uswest2bprod
      X-Extlb:
      - 10-69-131-202-uswest2bprod
    body:
      encoding: UTF-8
      string: '{"businesses": [{"id": "uOgwMiqcxqkHl8z4mkFPkQ", "alias": "hudson-hill-denver",
        "name": "Hudson Hill", "image_url": "https://s3-media4.fl.yelpcdn.com/bphoto/u8FEWUEcS9vOTvwQ1Tp5xg/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/hudson-hill-denver?adjust_creative=TWv4BIcu6CZ_3-f_0lItOQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=TWv4BIcu6CZ_3-f_0lItOQ",
        "review_count": 315, "categories": [{"alias": "cocktailbars", "title": "Cocktail
        Bars"}, {"alias": "wine_bars", "title": "Wine Bars"}, {"alias": "coffee",
        "title": "Coffee & Tea"}], "rating": 4.5, "coordinates": {"latitude": 39.736981988785004,
        "longitude": -104.97936455418487}, "transactions": ["delivery"], "price":
        "$$", "location": {"address1": "619 E 13th Ave", "address2": "", "address3":
        "", "city": "Denver", "zip_code": "80203", "country": "US", "state": "CO",
        "display_address": ["619 E 13th Ave", "Denver, CO 80203"]}, "phone": "+13038320776",
        "display_phone": "(303) 832-0776", "distance": 796.4365566553815}, {"id":
        "STjNbLa0mLMSGp7w5PHjXQ", "alias": "humboldt-kitchen-bar-denver", "name":
        "Humboldt Kitchen + Bar", "image_url": "https://s3-media4.fl.yelpcdn.com/bphoto/Jyjeu2EWJ7iHUvg-PSR3Ww/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/humboldt-kitchen-bar-denver?adjust_creative=TWv4BIcu6CZ_3-f_0lItOQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=TWv4BIcu6CZ_3-f_0lItOQ",
        "review_count": 817, "categories": [{"al[...]
