---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?limit=40&location=littleton,%20CO&radius=16100&sort_by=distance&term=locally%20owned%20brewery
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer qJbWMO0dR5e1R2Ct-5hhhGqu1zFIWijMFZNdbEMyltQLfH79viaTuTi_NT80xYMNyfAEJkjobK889xM9F0lYQUie7kOW-g6qN1awpPj_v8xacW-ZA4PlFEhP4rOPY3Yx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4245'
      X-Zipkin-Id:
      - 0fef618559d86659
      X-Routing-Service:
      - routing-main--uswest2-69cb4c47f7-4jzxv; site=public_api_v3
      Ratelimit-Resettime:
      - '2022-12-13T00:00:00+00:00'
      X-Cloudmap:
      - routing_uswest2
      X-Mode:
      - ro
      X-Proxied:
      - 10-69-122-173-uswest2aprod
      X-Extlb:
      - 10-69-122-173-uswest2aprod
    body:
      encoding: UTF-8
      string: '{"businesses": [{"id": "VJvr1pPvS2_KUrrSdC_5ug", "alias": "breckenridge-brewery-littleton-2",
        "name": "Breckenridge Brewery", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/4Vw3meGwxCeYAen1tBfuNA/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/breckenridge-brewery-littleton-2?adjust_creative=TWv4BIcu6CZ_3-f_0lItOQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=TWv4BIcu6CZ_3-f_0lItOQ",
        "review_count": 291, "categories": [{"alias": "breweries", "title": "Breweries"}],
        "rating": 4.0, "coordinates": {"latitude": 39.594287, "longitude": -105.0246389},
        "transactions": [], "price": "$$", "location": {"address1": "2990 Brewery
        Ln", "address2": "", "address3": "", "city": "Littleton", "zip_code": "80120",
        "country": "US", "state": "CO", "display_address": ["2990 Brewery Ln", "Littleton,
        CO 80120"]}, "phone": "+13036232739", "display_phone": "(303) 623-2739", "distance":
        580.6026201622744}, {"id": "IJUSGQ-CokdnL0RiXeHE-A", "alias": "locavore-beer-works-littleton",
        "name": "Locavore Beer Works", "image_url": "https://s3-media3.fl.yelpcdn.com/bphoto/1zciD286UKsvnSCrHNXDdQ/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/locavore-beer-works-littleton?adjust_creative=TWv4BIcu6CZ_3-f_0lItOQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=TWv4BIcu6CZ_3-f_0lItOQ",
        "review_count": 178, "categories": [{"a[...]
