---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?limit=40&location=Frisco,%20CO&radius=16100&sort_by=distance&term=locally%20owned%20brewery
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer qJbWMO0dR5e1R2Ct-5hhhGqu1zFIWijMFZNdbEMyltQLfH79viaTuTi_NT80xYMNyfAEJkjobK889xM9F0lYQUie7kOW-g6qN1awpPj_v8xacW-ZA4PlFEhP4rOPY3Yx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4979'
      Ratelimit-Resettime:
      - '2022-12-07T00:00:00+00:00'
      X-Routing-Service:
      - routing-main--useast1-64bdc8b4bb-xjkpp; site=public_api_v3
      X-Zipkin-Id:
      - 9fd07767e4f18a7b
      X-Cloudmap:
      - routing_useast1
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-175-143-useast1bprod
      X-Extlb:
      - 10-65-175-143-useast1bprod
    body:
      encoding: UTF-8
      string: '{"businesses": [{"id": "ZkHo2gAdmD4U5oNG4smoIQ", "alias": "outer-range-brewing-frisco-2",
        "name": "Outer Range Brewing", "image_url": "https://s3-media3.fl.yelpcdn.com/bphoto/Xd-3nZD93U6PpWfmLTJ20w/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/outer-range-brewing-frisco-2?adjust_creative=TWv4BIcu6CZ_3-f_0lItOQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=TWv4BIcu6CZ_3-f_0lItOQ",
        "review_count": 205, "categories": [{"alias": "breweries", "title": "Breweries"}],
        "rating": 4.5, "coordinates": {"latitude": 39.58925, "longitude": -106.09902},
        "transactions": [], "price": "$$", "location": {"address1": "182 Lusher Ct",
        "address2": "Unit 2", "address3": "", "city": "Frisco", "zip_code": "80443",
        "country": "US", "state": "CO", "display_address": ["182 Lusher Ct", "Unit
        2", "Frisco, CO 80443"]}, "phone": "+19704558709", "display_phone": "(970)
        455-8709", "distance": 662.516483368}, {"id": "EtRmvr7QKrOEdi9dUR7-3Q", "alias":
        "highside-brewing-frisco-3", "name": "Highside Brewing", "image_url": "https://s3-media3.fl.yelpcdn.com/bphoto/JiXKRxk0K18jHw2Ai_BpHQ/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/highside-brewing-frisco-3?adjust_creative=TWv4BIcu6CZ_3-f_0lItOQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=TWv4BIcu6CZ_3-f_0lItOQ",
        "review_count": 163, "categories": [{"alias": "breweries", "ti[...]
[...]
